<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shichi.demo.mapper.pmsMapper.PmsProduceMapper">
  <resultMap id="BaseResultMap" type="shichi.demo.model.pmsModel.PmsProduce">
    <result column="produce_id" jdbcType="VARCHAR" property="produceId" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="produce_name" jdbcType="VARCHAR" property="produceName" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="data_state" jdbcType="BIT" property="dataState" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    produce_id, brand_id, produce_name, brand_name, created_time, data_state
  </sql>
  <select id="selectByExample" parameterType="shichi.demo.model.pmsModel.PmsProduceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="shichi.demo.model.pmsModel.PmsProduceExample">
    delete from pms_produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="shichi.demo.model.pmsModel.PmsProduce">
    insert into pms_produce (produce_id, brand_id, produce_name, 
      brand_name, created_time, data_state
      )
    values (#{produceId,jdbcType=VARCHAR}, #{brandId,jdbcType=VARCHAR}, #{produceName,jdbcType=VARCHAR}, 
      #{brandName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{dataState,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="shichi.demo.model.pmsModel.PmsProduce">
    insert into pms_produce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="produceId != null">
        produce_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="produceName != null">
        produce_name,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="dataState != null">
        data_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="produceId != null">
        #{produceId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="produceName != null">
        #{produceName,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataState != null">
        #{dataState,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="shichi.demo.model.pmsModel.PmsProduceExample" resultType="java.lang.Long">
    select count(*) from pms_produce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_produce
    <set>
      <if test="record.produceId != null">
        produce_id = #{record.produceId,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=VARCHAR},
      </if>
      <if test="record.produceName != null">
        produce_name = #{record.produceName,jdbcType=VARCHAR},
      </if>
      <if test="record.brandName != null">
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataState != null">
        data_state = #{record.dataState,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_produce
    set produce_id = #{record.produceId,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=VARCHAR},
      produce_name = #{record.produceName,jdbcType=VARCHAR},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      data_state = #{record.dataState,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!--更新产品信息-->
  <update id="updatePmsProduceSelective" parameterType="shichi.demo.model.pmsModel.PmsProduce">
    update pms_produce
    <set>
      <if test="produceId != null">
        produce_id = #{produceId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="produceName != null">
        produce_name = #{produceName,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataState != null">
        data_state = #{dataState,jdbcType=BIT},
      </if>
    </set>
    where produce_id = #{produceId,jdbcType=VARCHAR}
  </update>

  <!--条件查询产品信息-->
  <select id="getPmsProduceByCondition" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select * from pms_produce
    <where>
      <if test="produceName != null and produceName !=''">
       and produce_name = #{produceName}
      </if>
      <if test="brandId != null and brandId != '' ">
        and brand_id = #{brandId}
      </if>
      <if test="dataState != null and dataState != '' ">
        and data_state = #{dataState}
      </if>
    </where>
  </select>
</mapper>